* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Lato", sans-serif;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.board {
  width: 350px;
  height: 350px;
  display: grid;
  gap: 2px;
}
.tile {
  background-color: #ddd;
  cursor: pointer;
  display: flex;
}
.selected {
  background-color: hsl(46, 100%, 50%);
}
.near {
  background-color: hsl(101, 98%, 39%);
}
.far {
  background-color: hsl(101, 100%, 50%);
}
.mark {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin: auto;
}
.team-1 {
  background-color: red;
}
.team-2 {
  background-color: blue;
}
